/* src/components/UsersByDepartment.module.css */

.usersByDepartment {
    margin-left: 300px;
}

.user {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
}
